.idea/
.venv/
ostrack/archived
ostrack_vit/archived
*/__pycache__
test_image
vit
ostrack_vit/test_image
documents
weights
documents/README.md
documents/RELEASE_NOTES.md
documents/TODO.md
ostrack_appl/*.pth
ostrack_appl/archived
ostrack_appl/*.pt
ostrack_appl/single_img_ostrack.py
